{{ template "header.html" . }}

  <p>
    <a href="/">Home</a>
    &gt;
    <a href="/p/">Projects</a>
    &gt;
    <strong>New</strong>
  </p>

  <h2>
    New Project
  </h2>

  <form action="/p/new" method="post">
    <div class="row">
      <div class="col-12">
        <input class="form-input" type="text" name="Title" placeholder="Project Title">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <textarea class="form-textarea" rows="4" name="Content" placeholder="Describe what you are going to learn ..."></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input class="form-input" value="Create Project" type="submit">
      </div>
    </div>
  </form>

{{ template "footer.html" . }}
