{{ template "header.html" . }}

  <div class="grid grid-fluid">
    <div class="row">
      <div class="col-8">
        <p>
          <a href="/">Home</a>
          &gt;
          <a href="/p/">Projects</a>
          &gt;
          <a href="/p/{{ .Project.Name }}/">{{ .Project.Title }}</a>
          &gt;
          <strong>Status Update</strong>
        </p>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>

  <h2>
    Add Update
  </h2>

  <form action="/p/{{ .Project.Name }}/update" method="post">
    <div class="row">
      <div class="col-12">
        {{ with .Update.Error.Status }}
        <div class="alert alert-error">{{ . }}</div>
        {{ end }}
        <textarea class="form-textarea" rows="4" name="Status" placeholder="How are you getting on ...">{{ .Update.Status }}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Update.Error.Progress }}
        <div class="alert alert-error">{{ . }}</div>
        {{ end }}
        Percentage Complete: <strong id="percentage"></strong>
        <br>
        Estimate your progress :
        <strong>0%</strong>
        <input id="slider" class="form-input" type="range" name="Progress" min="0" max="100" value="{{ or .Update.Progress 0 }}">
        <strong>100%</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input class="form-input" value="Add Update" type="submit">
      </div>
    </div>
  </form>

{{ template "footer.html" . }}
