{{ template "header.html" . }}

  <div class="grid grid-fluid">
    <div class="row">
      <div class="col-8">
        <p>
          <a href="/">Home</a>
          &gt;
          <strong>Projects</strong>
        </p>
      </div>
      <div class="col-4">
        <p><a class="btn" href="/p/new">Create New Project</a></p>
      </div>
    </div>
  </div>

  {{ if .Projects }}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Projects }}
      <tr>
        <td>
          <a href="/p/{{ .Name }}/">{{ .Title }}</a>
          (<a href="/u/{{ $.User.Name }}/p/{{ .Name }}" target="_new">View</a>)
        </td>
        <td style="text-align: center;">
          <a href="/p/{{ .Name }}/update">Add Update</a>
          |
          <a href="/p/{{ .Name }}/edit">Edit</a>
          |
          <a href="/p/{{ .Name }}/remove">Remove</a>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>

  {{ else }}
  <p>No projects found.</p>
  {{ end }}

{{ template "footer.html" . }}
