{{ template "header.html" . }}

  <p><a class="btn" href="/p/new">Create New Project</a></p>

  {{ if .Projects }}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {{ range .Projects }}
      <tr>
        <td>
          <a href="/p/{{ .Name }}/">{{ .Title }}</a>
          (<a href="/u/{{ $.User.Name }}/p/{{ .Name }}" target="_new">view</a>)
        </td>
        <td style="text-align: center;">
          <a href="/p/{{ .Name }}/progress">Add Progress</a>
          |
          <a href="/p/{{ .Name }}/edit">Edit</a>
          |
          <a href="/p/{{ .Name }}/remove">Remove</a>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>

  {{ else }}
  <p>No projects found.</p>
  {{ end }}

  <p>
    (Ends)
  </p>

{{ template "footer.html" . }}
